.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;

    .nav-bar-logo {
        width: 100px;
    }

    &-first-part, &-second-part {
        display: flex;
        background-color: black;
        gap: 20px;
        align-items: center;
        font-family: 'Roboto' sans-serif;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: #F4C41C;
            }
        }

    }
}